body {
	margin: 0;
}

.Title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.Main {
	display: flex;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

.Left {
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
}

.Center {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	width: 60%;
	text-align: left;
	border-left: solid 1px;
	border-right: solid 1px;
}

.Right {
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
}

.Twitter {
	visibility: visible;
	width: 100%;
	position: sticky;
	top: 10px;
	z-index: 10;
}

footer{
    font-size: 80%;
    width: 100%;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
}

footer address{
    letter-spacing: 5px;
    font-style: normal;
	
}